* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  /* color: #fff; */
  background-color: #111;
  overflow-x: hidden;
}

.main {
  height: 100%;
  width: 100%;
  background-color: lightblue;
  background-image: url(https://images.unsplash.com/photo-1504253163759-c23fccaebb55?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px;
  color: #fff;
}

.nav h2 {
  font-size: 30px;
}

.nav i {
  font-size: 30px;
  font-weight: 800;
  cursor: pointer;
}

.full {
  height: 100%;
  width: 40%;
  position: absolute;
  background-color: #ffffff41;
  top: 0;
  right: -40%;
  backdrop-filter: blur(20px);
  padding: 100px 60px;
}

.full h4{
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
}

.full i{
  position: absolute;
  top: 5%;
  right: 10%;
  background-color: #fff;
  border-radius: 100%;
  padding:5px;
  font-weight: 400;
  font-size: 25px;
  cursor: pointer;
}