* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  /* color: #fff; */
  background-color: pink;
  overflow-x: hidden;
}

.page1 {
  height: 100%;
  width: 100%;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page2 {
  height: 100%;
  width: 100%;
  background-color: rgb(103, 194, 224);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.page3 {
  height: 100%;
  width: 100%;
  background-color: rgb(14, 163, 213);
  display: flex;
  align-items: center;
  justify-content: center;
}

.page4 {
  height: 100%;
  width: 100%;
  background-color: rgb(102, 255, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
.page5 {
  height: 100%;
  width: 100%;
  color: #fff;
  background-color: rgb(29, 29, 29);
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.page5 h1 {
  padding-top: 20px;
  font-size:35vw;
  font-weight: 600;
  text-transform: uppercase;
}

.page6 {
  height: 100%;
  width: 100%;
  background-color: rgb(102, 255, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
.page7 {
  height: 100%;
  width: 100%;
  background-color: rgb(102, 255, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  height: 300px;
  width: 300px;
  background-color: crimson;
}

.page2 h1 {
  font-size: 60px;
  position: relative;
  background-color: red;
  padding: 10px;
}

.page2 h2 {
  font-size: 60px;
  position: relative;
  background-color: yellow;
}
