* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  /* color: #fff; */
  background-color: #111;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor {
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  text-align: center;
  z-index: 9;
  font-size: 4px;
  line-height: 5px;
}

.image {
  height: 30vw;
  width: 70vw;
  background-color: red;
  position: relative;
}

.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.overlay{
  background-color: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
}
