* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: NeueMachina;
  src: url('font/NeueMachina-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: NeueMachina, sans-serif;
}

body {
  /* color: #fff; */
  /* background-color: #111; */
}

.section1 {
  /* height: 120vh; */
  width: 100%;
  /* background-color: bisque; */
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 80px;
}

.part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

nav h1 {
  font-size: 25px;
}

nav h1 i {
  rotate: 45deg;
  margin-right: 5px;
  display: inline-block;
  font-size: 30px;
}

nav h4 {
  font-size: 13px;
  font-weight: 500;
}

nav button {
  padding: 12px 25px;
  font-size: 13px;
  border-radius: 5px;
  font-weight: 600;
  background-color: transparent;
  border: 1.5px solid black;
}

.center {
  padding: 80px;
  /* background-color: red; */
  height: 85%;
  width: 100%;
  display: flex;
}

.center-part1 {
  /* background-color: lightgreen; */
  height: 100%;
  width: 45%;
  position: relative;
}

.center-part1 h1 {
  line-height: 1.2;
  font-size: 56px;
  /* background-color: red; */
}

.center-part1 p {
  font-size: 12px;
  width: 95%;
  margin-top: 30px;
  margin-bottom: 25px;
}

.center-part1 button {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 12px 24px;
  font-size: 12px;
  font-weight: 600;
  border: none;
}

.center-part2 {
  /* background-color: lightblue; */
  height: 100%;
  width: 55%;
  position: relative;
}

.center-part2 img {
  position: absolute;
  right: 0;
  height: 31vw;
}

.section1bottom {
  align-self: center;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 80px;
}

.section1bottom .images {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  align-items: center;
}

.section1bottom img:nth-child(1) {
  height: 55px;
}
.section1bottom img:nth-child(2) {
  height: 28px;
}
.section1bottom img:nth-child(3) {
  height: 80px;
}
.section1bottom img:nth-child(4) {
  height: 40px;
}
.section1bottom img:nth-child(5) {
  height: 30px;
}
.section1bottom img:nth-child(6) {
  height: 100px;
}

.section2 .services {
  /* background-color: red; */
  padding: 40px 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.section2 .services h3 {
  background-color: #b9ff66;
  font-weight: 500;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 30px;
  font-weight: 600;
}

.section2 .services p {
  font-size: 12px;
  line-height: 1.5;
  max-width: 50vw;
}
