* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  /* color: #fff; */
  background-color: #111;
  overflow-x: hidden;
}

.string {
  height: 200px;
  width: 100%;
  /* background-color: red; */
}

svg{
  /* background-color: red; */
}