*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    color: #fff;
    background-color: #111;
}

.nav{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
}

.part2{
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    gap: 50px;
}

