* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'NeueMachina';
  src: url('font/NeueMachina-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'NeueMachina', sans-serif;
}

body {
  /* color: #fff; */
  background-color: #111;
}

.page1,
.page2,
.page3 {
  height: 100%;
  width: 100%;
}

.move {
  background-color: #d9ff06;
  display: flex;
  padding: 2vw 0;
  overflow: hidden;
}

.marque {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 3vw;
  padding: 0 1.5vw;
  transform: translateX(-100%);
}

.marque h1 {
  font-size: 3vw;
  text-transform: uppercase;
}
.marque img {
  height: 3vw;
}
