* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  color: #fff;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 100px;
  background-color: red;
  overflow: hidden;
}

h1 span{
  display: inline-block;
}
